 <p>home works!</p>
 <!--   <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="secondary" rounded="true" outline="true" mdbWavesEffect>Secondary</button> --> 

<!--   <div class="btn-group" role="group" aria-label="Basic example">
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Left</button>
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Middle</button>
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Right</button>
</div>
  -->
  <!-- <button mdbBtn type="button" color="primary" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" mdbWavesEffect>Danger</button> -->
