
<div class="container-fluid">
    <div class="row buttons1 d-flex mt-5 pl-5">
        <a href="#"><div class="course-title">Course Title &nbsp; ></div></a>
        <div class="course-title ml-2">Compute Engine</div>
        <div class="ml-auto pr-5">
          <button class="btn btn-secondary">Back to Videos</button>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <!-- <div class="row title">
      Compute Engine
      <hr class="hr" />
    </div> -->
    <div class="row buttons d-flex">
      <div class="title">Compute Engine</div>
      <hr class="hr" />
    </div>

    <div class="row video">
      <video
        class="video"
        controls
        src="../../../assets/Management 1 (2).mp4"
        #videoPlayer
        width="auto"
        height="auto"
        allow="autoplay"
      >
        Browser not supported
      </video>
    </div>

    <div class="row buttons d-flex mt-2">
      <div>
        <button class="btn btn-lg pl-5 pr-5 btn-secondary">Prev</button>
      </div>
      <div class="ml-auto">
        <button class="btn btn-lg pl-5 pr-5 btn-secondary">Next</button>
        <!-- <button class="btn btn-lg pl-5 pr-5 btn-secondary">Go to Certification</button> -->
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-4">
        <h4>Description:</h4>
      </div>
      <div class="col-8">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, nisi
        quod dicta ad voluptate blanditiis deserunt similique accusamus
        perferendis veritatis, quia odit nulla sed animi, vero corrupti fugit
        possimus aspernatur!
      </div>
    </div>
  </div>
</div>
